.opening {
   position:relative;     
    text-align: center;   
    padding: 250px  0 480px 0;
    width: 100%;
}


.try {  
    position:relative;  
    padding: 250px  0 480px 0;
    text-align: center; 
    width: 100%;
}
     

.tryAgain{ 
    padding: 480px  0 480px 0;
    text-align: center;
    width: 100%;
}

 .hidden {   
    position:relative;   
    text-align: center;   
    padding: 300px  0 660px 0;
    width: 100%;
}


#pow {
  position: fixed;  
  transform: rotate(-30deg);
  left: 10%;
  top:10%;
}

#bam {
  position: fixed;  
  transform: rotate(30deg);
  left: 60%;
  top:10%;
}


.try h2{
    color: #FF4D4D;
    font-size: 120%
}

.btn1 {
    background-color: #D9FFC5;
    border-radius: 10px;
}


.btn2{
    background-color: #FF4D4D; 
    border-radius: 10px; 
}


.btn3{
    background-color: #A3E0FF;
    border-radius: 10px;
}

.btn4{
    background-color: #3399FF;
     border-radius: 10px;   
     height: 200%;
}



body { 
    font: 14px Helvetica ,Sans-serif;
    font-weight:lighter;
    width: 85%;
    margin: 0 auto;    
    } 


#container {
    margin:40px 60px 40px 60px;
    background:lightgray;
    padding:0 100px 100px 100px;
    border-radius:8px;
}



#contact {
    margin: 0 0 -10px 0;
    padding: 20px 0 20px 0;
}

#introduction {
    border-top: 3px solid #0088dd;
    margin: 0 0 0 0;
    padding:0 0 0 0;
    font-size: 14px;
}


#projectsheader{
    margin:0 0 0 30px;
}

.project1, .project2, .project3 {
    width: 30%;
    float: left;
    margin: 5px;
}


.clientlist {
    width: 90%;
    margin:5px;
    float: none;
    display: inline-block;
}


a {
    color:#0088dd;  
}

a:hover {
    border:.5px solid #0088dd;
}

h1 {
    color: #0088dd;
    font-size: 30px;
    font-weight: lighter;
    margin-top: 25px;
    margin-bottom: -10px;
}



h3 {
    font-weight:bold;
    font-size:14px;
    margin-bottom:-15px;
}

h4 {
    font-weight:lighter;
    margin-bottom:-15px;
}

figcaption {
    padding:left;
}

.experience,.images {
    margin:30px 0 0 0;
    font-weight:normal;
    text-transform:uppercase;
    border-bottom: 1px solid #0088dd;
}


footer img{
    margin:30px 0 0 0;
    width: 18%;
    
}



.transition {
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

#diffuser {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

#paisley {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}


#mothlab {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}


#skyland {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

#diffuser2 {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}